<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Emerald-construction-Developers</title>
<link rel="icon" href="/asserts/images/Emeraldlogo.png">
<link rel="stylesheet" href="/asserts/css/Emerald.css">
</head>
<body>
	<div th:insert="menu::menu"></div>
	<section class="aboutus">
		<h1 class="abouth1">About Us</h1>
		<img alt="" src="/asserts/images/Emeraldlogo.png">
		<p id="abp1">EMERALD CONSTRUCTION AND DEVELOPERS WORKS located in Hyderabad since
			30 years dealing with all industrial electrical works specialized in
			HT & LT Electrical Consultations and Maintenance Engineer’s. Over the
			years, the company has earned a reputation for excellence and
			professionalism for continuously striving to meet - and even exceed -
			standards which set the climate for a sustainable business
			relationship with its clients. As an electrical solution specialist,
			we undertake new project works and industrial maintenance works with
			and without materials. Our team is composed of technically skilled
			and highly dedicated personnel working cohesively to promote
			value-added solutions with a competitive pricing structure to suit
			your needs.</p>
		<ul id="ablist">
			<li>We also engage in electrical product installations, testing
				and commissioning, preventive maintenance, automation, and energy
				saving solutions.</li>
			<li>We also provide our services in Repairs Power &Distribution
				Transformers, Manufacturers of Busbars, Control Panels Errection of
				Sub Stations and Manpower.</li>
			<li>Our commitment is to deliver outstanding results that will
				exceed your expectations.</li>
			<li>The company partners with some of the biggest manufacturers
				in the electrical industry to ensure high quality products. Asian
				Paints, Amazon and Paragon Polymers are the trusted brands that we
				carry.</li>
			<li>Moreover, we continuously enhance our services to serve our
				customers better.</li>
			<li>We look forward to providing our services and products to
				your company.</li>
			<li>Rest assured that we live by our service commitment:
				Delivering Results, Exceeding Expectations.</li>
		</ul>
		<h2 id="abouth2">Our Vision</h2>
		<section id="subabout">
			<article id="subaboutleft">
				<p id="aboutheading1">
					<b>Our Customers</b>
				</p>
				<ul>
					<li>As a dependable and reliable distributor of electrical
						power and control products and services.</li>
					<li>As a proactive company capable of competing in all facets
						of the marketplace through constant improvement and innovation .</li>
					<li>As a family-owned business that satisfies customers with
						easy and hassle-free transactions.</li>
				</ul>
			</article>
			<article id="subaboutright">
				<p id="aboutheading2">
					<b>Our Employees </b>
				</p>
				<ul>
					<li>As an employer who values the dedication and commitment of
						its employees .</li>
					<li>As an innovative and technologically upfront company that
						ensures employee competence and advancement.</li>
					<li>As an employer who guarantees a safe working environment.

					</li>
					<li>As an employer who engages in training and certification
						programs to help employees progress in their personal and
						professional growth.</li>
				</ul>
			</article>
		</section>
		<h2 id="abouth3">Mission</h2>
		<p id="abp2">Emerald Construction And Developers is committed to providing
			the highest quality products and services exceeding our client’s
			expectations. We shall continue to expand in equipment and
			facilities, and engage in training and certification programs to
			further serve customers with utmost excellence and professionalism.
			As we carry out our mission, we shall be guided by values of
			integrity, reliability, commitment, and collaboration.</p>
	</section>
	<div th:insert="footer1::footer1"></div>
	<div th:insert="footer2::footer2"></div>

</body>
</html>