<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Emerald-constructors-Developers</title>
<link rel="icon" href="/asserts/images/Emeraldlogo.png">
<link rel="stylesheet" href="/asserts/css/Emerald.css">
</head>
<body>
	<div th:insert="menu::menu"></div>
	<section class="electricalwork">
		<h1 id="electrich1">Electrical work</h1>
		<article id="ele_sec1">
			<p>
				<b>Electrical work means:</b>
			</p>
			<p>connecting electricity supply wiring to electrical equipment
				or disconnecting electricity supply wiring from electrical
				equipment; or manufacturing, constructing, installing, removing,
				adding, testing, replacing, repairing, altering or maintaining
				electrical equipment or an electrical installation.</p>
		</article>
		<article id="ele_sec2">
			<h3>Examples of electrical work:</h3>
			<p>Installing low voltage electrical wiring in a building
				Installing electrical equipment into an installation coupler or
				interconnecter Replacing a low voltage electrical component of a
				washing machine Maintaining an electricity entity’s overhead
				distribution system.</p>

		</article>
		<article id="ele_sec3">
			<h3>How we offers</h3>
			<p>ELEK CONTRACTORS located in Hyderabad. Dealing with all
				industrial electrical works specialized of HT and LT Electrification
				Works for Commercial, Industrial, Residential, IT Sectors and
				Maintenance Engineer’s. Over the years, the company has earned a
				reputation for excellence and professionalism for continuously
				striving to meet - and even exceed - standards which set the climate
				for a sustainable business relationship with its clients. As an
				electrical solution specialist, we undertake new project works and
				industrial maintenance works with and without materials. Our team is
				composed of technically skilled and highly dedicated personnel
				working cohesively to promote value-added solutions with a
				competitive pricing structure to suit your needs.</p>

		</article>
		<article id="ele_sec4">
			<p>Why wait, feel free to request your free quote from the
				contact form on our home page or request an expert call back.</p>
		</article>
		<article id="ele_sec5">
			<p>Why wait, feel free to request your free quote from the
				contact form on our home page or request an expert call back.</p>

		</article>

	</section>
	<div th:insert="footer1::footer1"></div>
	<div th:insert="footer2::footer2"></div>

</body>
</html>