<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Emerald-constructors-Developers</title>
<link rel="icon" href="/asserts/images/Emeraldlogo.png">
<link rel="stylesheet" href="/asserts/css/Emerald.css">
</head>
<body>
	<div th:insert="menu::menu"></div>
	<h1 class="galleryh1">Gallery</h1>
	<section class="gallery_sec">
		<img alt="img1" src="/asserts/images/e1.jpg"> <img alt="img2"
			src="/asserts/images/e2.jpg"> <img alt="img3"
			src="/asserts/images/e3.jpg"> <img alt="img4"
			src="/asserts/images/e4.jpg"> <img alt="img5"
			src="/asserts/images/e5.jpg"> <img alt="img6"
			src="/asserts/images/e7.jpg"> <img alt="img7"
			src="/asserts/images/e7.jpg">
	</section>
	<div th:insert="footer1::footer1"></div>
	<div th:insert="footer2::footer2"></div>

</body>
</html>