<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Emerald-constructors-Developers</title>
<link rel="icon" href="/asserts/images/Emeraldlogo.png">
<link rel="stylesheet" href="/asserts/css/Emerald.css">
</head>
<body>
	<div th:insert="menu::menu"></div>
	<section class="painting">
		<h1 id="paintingh1">Painting work</h1>
		<p id="paintingp1">We specialize in quality workmanship on
			interior and exterior painting projects on all residential and
			commercial work. We understand that we are guests in your house. The
			utmost respect is paid to maintaining an environment that is as safe
			and clean as possible.</p>
		<h2 id="paintingh2">PREPARATION</h2>
		<ul type="disc" id="paintinglist1">
			<li>We use clean plastic drop sheets on all furniture.</li>
			<li>Durable canvas drop sheets cover the floor.</li>
			<li>During sanding, plastic sheets will be taped over entrances
				to contain the dust.</li>
			<li>All holes and cracks are filled and feather sanded to ensure
				all edges are smoothed.</li>

		</ul>
		<h2 id="paintingh2">FINISH</h2>
		<ul type="disc" id="paintinglist2">
			<li>Top grade paints are applied to ensure quality and a job
				that is washable and durable.</li>
			<li>All cut lines and edging are neat and clean.</li>
		</ul>

		<h1 id="mechanich2">How We Offers:</h1>
		<p id="mp4">ELEK CONTRACTORS located in Hyderabad. Dealing with
			all industrial electrical works specialized in Pre-Engineered
			Buildings, Roofing Sheets, erection & fabrication, chemical plant
			works, pharmaceutical works and Maintenance Engineer’s. Over the
			years, the company has earned a reputation for excellence and
			professionalism for continuously striving to meet - and even exceed -
			standards which set the climate for a sustainable business
			relationship with its clients. As an electrical solution specialist,
			we undertake new project works and industrial maintenance works with
			and without materials. Our team is composed of technically skilled
			and highly dedicated personnel working cohesively to promote
			value-added solutions with a competitive pricing structure to suit
			your needs.</p>
		<p id="mp5">Why wait, feel free to request your free quote from
			the contact form on our home page or request an expert call back.</p>
	</section>
	<div th:insert="footer1::footer1"></div>
	<div th:insert="footer2::footer2"></div>
</body>
</html>